<header class="master-header-layout w-full h-20 fixed bg-white top-0 shadow-sm inline-block">
  <div class="logo flex mt-6 ml-2 sm:ml-32">
    <a href="index.html">
      <img class="w-8 h-8" src="assets/images/mastercard.png">
    </a>
    <span class="ml-3 text-lg font-bold">Popmeet</span>
  </div>
  <div class="absolute flex pr-2 sm:pr-32">
    <button class="tab font-sans text-sm p-5 font-bold" [routerLink]="['/activity/find']">找活動</button>
    <button class="tab font-sans text-sm p-5 font-bold" (click)="openCreateDialog()">創活動</button>
    <button class="tab font-sans text-sm p-5 font-bold">常見問題</button>
    <button class="login font-sans text-sm mt-2 px-5 py-2 font-bold h-10 text-center block" (click)="openLoginDialog()"
      *ngIf="!isLogin">登入</button>

    <div class="flex font-sans text-sm pl-5 font-bold text-white h-10 text-center" *ngIf="isLogin">
      <span>{{ userName }}</span>
      <img class="h-8 w-8 ml-2 mr-1" src="assets/images/user.png">
      <ul class="dropdown rounded-lg shadow-lg">
        <li><a [routerLink]="['/user/my']">我的活動</a></li>
        <li><a href="#">追蹤中活動</a></li>
        <li><a href="#">帳戶設定</a></li>
        <li (click)="logout()"><a>登出</a></li>
      </ul>
    </div>
  </div>
</header>
