<div>
  <h1 class="title font-black text-3xl w-full text-center">選擇活動隱私設定</h1>
  <div class="flex">
    <div class="w-1/5"> </div>
    <div class="w-3/5 block">
      <div class="public mt-5 w-full h-16 block cursor-pointer" (click)="create(true)">
        <div class="p-3">
          <label class="text-gray-900 text-md font-black">公開</label><br />
          <span class="mt-3 text-gray-500 text-xs">所有Popmeet用戶都可以看到此活動</span>
        </div>
      </div>
      <div class="private mt-5 w-full h-16 block cursor-pointer" (click)="create(false)">
        <div class="p-3">
          <label class="text-gray-900 text-md font-black">私人</label><br />
          <span class="mt-3 text-gray-500 text-xs">只有擁有活動連結的人可以看到此活動</span>
        </div>
      </div>
    </div>
    <div class="w-1/5"> </div>
  </div>
</div>
