.public {
  border-color: #FF5722;
  border-radius: 1.25rem;
  border-style: solid;
  border-width: 2px;
  color: #FF5722;
}

.public:hover {
  background-color: #FF5722;

  span,
  label {
    color: white;
  }
}

.private {
  border-color: #00bcd4;
  border-radius: 1.25rem;
  border-style: solid;
  border-width: 2px;
  color: #00bcd4;
}

.private:hover {
  background-color: #00bcd4;

  span,
  label {
    color: white;
  }
}
