.title {
  width: 20%;
  color: rgb(141, 141, 141);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.intro {
  width: 80%;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.startTime {
  color: #00bcd4;
  font-weight: 900;
}

.endTime {
  color: #00bcd4;
  font-weight: 900;
}

.float {
  position: fixed;
  bottom: 0;
}

.stick {
  position: absolute;
  margin-bottom: 387px;
}

.joinBtn {
  width: 6.25rem;
  border-color: #FF5722;
  border-radius: 1.25rem;
  border-style: solid;
  border-width: 1px;
  color: #FF5722;
}

.joinBtn:hover {
  background-color: #FF5722;
  color: white;
}

.followBtn {
  width: 6.25rem;
  border-color: #00bcd4;
  border-radius: 1.25rem;
  border-style: solid;
  border-width: 1px;
  color: #00bcd4;
}

.followBtn:hover {
  background-color: #00bcd4;
  color: white;
}

.shareBtn {
  border-color: #666666;
  border-radius: 1.25rem;
  border-style: solid;
  border-width: 1px;
}

.disabled {
  width: 6.25rem;
  background-color: #777777;
  border-color: #777777;
  border-radius: 1.25rem;
  border-style: solid;
  border-width: 1px;
  color: white;
}
