<div>
  <span class="title font-black text-4xl w-full text-center">登入</span>
  <div class="mt-5">

    <div class="mb-3">
      <span class="w-full text-gray-700 text-lg">帳號</span>
      <input type="text" [(ngModel)]="email" class="w-full border-solid border-4 border-gray-600 text-lg p-2 mt-2"
        placeholder="請輸入帳號">
    </div>

    <div class="mb-3">
      <span class="w-full text-gray-700 text-lg">密碼</span>
      <input type="password" [(ngModel)]="password"
        class="w-full border-solid border-4 border-gray-600 text-lg p-2 mt-2" placeholder="請輸入密碼">
    </div>
    <div class="flex mt-2 w-full">
      <div class="w-1/3"> </div>
      <button class="loginBtn w-1/3 rounded-lg text-white h-10" (click)="login()">登入</button>
      <div class="w-1/3"> </div>
    </div>

  </div>
</div>
