<div class="mainRegion m-32">
  <div class="searchRegion w-full rounded-lg shadow-card bg-gray-100">
    <form class="searchBox w-full h-full flex" [formGroup]="form" (ngSubmit)="submit(form.value)">
      <div class="searchProperty w-1/4 grid border-r-4">
        <label for="formDestination">目的地</label>
        <input type="text" class="bg-gray-100" id="formDestination" placeholder="想去哪裡玩呢?" formControlName="destination">
      </div>
      <div class="searchProperty w-1/4 grid border-r-4">
        <label for="formDestination">出發地</label>
        <input type="text" class="bg-gray-100" id="formDestination" placeholder="從哪出發呢?" formControlName="destination">
      </div>
      <div class="searchProperty w-1/4 grid border-r-4">
        <label for="formDestination">出發日期</label>
        <input type="text" class="bg-gray-100" id="formDestination" type="text" onfocus="(this.type='date')"
          onblur="(this.type='text')" placeholder="哪天去玩呢?" formControlName="destination">
      </div>
      <div class="searchProperty w-1/4 grid">
        <label for="formDestination">活動類型</label>
        <input type="text" class="bg-gray-100" id="formDestination" placeholder="玩些什麼呢?" formControlName="destination">
      </div>
      <div class="">

        <a class="submitBtn p-2 flex w-24 m-5 cursor-pointer" (click)="submit(form.value)">
          <img class="w-6 h-6 m-2 mr-0" src="assets/images/search.png">
          <span class="text-white m-2 ml-0 text-lg">
            搜尋
          </span>
        </a>
      </div>
    </form>
  </div>

  <div class="contentRegion pt-12">
    <h1 class="font-sans font-bold text-3xl pl-8">探索活動類型</h1>
    <div class="card-content mt-4 w-full flex">
      <div class="card-category w-1/4 h-full mx-3 pb-3 rounded-card overflow-hidden shadow-card cursor-pointer">
        <div class="w-full" style="height:75%; background-image: url('/assets/images/hiking.jpg'); background-size: cover;
          background-size: cover; background-position: center">
        </div>
        <div class="w-full h-1/4 px-6 py-4">
          <div class="font-bold text-xl mb-2">登山健行</div>
          <p class="content-description h-12 text-gray-700 text-base">
            靠雙腿享受山林的清新、原野的開闊、與野溪的清涼。
          </p>
        </div>
      </div>
      <div class="card-category w-1/4  h-full mx-3 pb-3 rounded-card overflow-hidden shadow-card cursor-pointer">
        <div class="w-full" style="height:75%; background-image: url('/assets/images/diving.jpg'); background-size: cover;
          background-size: cover; background-position: center">
        </div>
        <div class="w-full h-1/4 px-6 py-4">
          <div class="font-bold text-xl mb-2">潛水</div>
          <p class="content-description h-12 text-gray-700 text-base">
            靠雙腿享受山林的清新、原野的開闊、與野溪的清涼。靠雙腿享受山林的清新、原野的開闊、與野溪的清涼。靠雙腿享受山林的清新、原野的開闊、與野溪的清涼。靠雙腿享受山林的清新、原野的開闊、與野溪的清涼。靠雙腿享受山林的清新、原野的開闊、與野溪的清涼。靠雙腿享受山林的清新、原野的開闊、與野溪的清涼。靠雙腿享受山林的清新、原野的開闊、與野溪的清涼。靠雙腿享受山林的清新、原野的開闊、與野溪的清涼。靠雙腿享受山林的清新、原野的開闊、與野溪的清涼。
          </p>
        </div>
      </div>
      <div class="card-category w-1/4 h-full mx-3 pb-3 rounded-card overflow-hidden shadow-card cursor-pointer">
        <div class="w-full" style="height:75%; background-image: url('/assets/images/surfing.jpg'); background-size: cover;
          background-size: cover; background-position: center">
        </div>
        <div class="w-full h-1/4 px-6 py-4">
          <div class="font-bold text-xl mb-2">衝浪</div>
          <p class="content-description h-12 text-gray-700 text-base">
            靠雙腿享受山林的清新、原野的開闊、與野溪的清涼。
          </p>
        </div>
      </div>
      <div class="card-category w-1/4 h-full mx-3 pb-3 rounded-card overflow-hidden shadow-card cursor-pointer">
        <div class="w-full" style="height:75%; background-image: url('/assets/images/climbing.jpg'); background-size: cover;
          background-size: cover; background-position: center">
        </div>
        <div class="w-full h-1/4 px-6 py-4">
          <div class="font-bold text-xl mb-2">攀岩</div>
          <p class="content-description h-12 text-gray-700 text-base">
            靠雙腿享受山林的清新、原野的開闊、與野溪的清涼。
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="contentRegion pt-12">
    <h1 class="font-sans font-bold text-3xl pl-8">為你推薦</h1>
    <div class="list-activities mt-4 w-full block">

      <div class="activities w-full h-64 px-6 py-4 my-4 flex rounded-card hover:shadow-card cursor-pointer"
        [routerLink]="[1]">
        <div class="image w-1/5 h-full rounded-lg" style="background-image: url('/assets/images/tear.jpg'); background-size: cover;
                        background-size: cover; background-position: center">
        </div>
        <div class="context w-3/5 ml-4">
          <label class="font-sans text-orange-600 font-black">登山</label>
          <h2 class="font-sans font-bold text-3xl mt-2">揪爬天使的眼淚💧三天兩夜平日糜爛行</h2>
          <div class="font-sans inline-flex font-black text-lg">
            <span class="tillTime">3日遊</span>
            &nbsp;•&nbsp;
            <span class="startTime">2020/09/10 06:30</span>
            &nbsp;由&nbsp;
            <span class="departure">池上火車站</span>
            &nbsp;出發至&nbsp;
            <span class="distination">嘉明湖</span>
            &nbsp;•&nbsp;
            <span class="quota">4人成團</span>
          </div>
          <div class="description block mt-4">
            <label class="description-title text-lg font-extrabold">活動內容：</label>
            <p class="description-content text-gray-700 text-base">
              Day 1：池上火車站集合-->向陽國家森林遊樂區入口--> 向陽山屋（住）

              Day 2：向陽山屋 --> 向陽山登山口 --> 嘉明湖避難山屋-->三叉山登山口-->嘉明湖-->三叉山三角點-->嘉明湖避難山屋（住）

              Day 3：嘉明湖山屋-->向陽山登山口（輕裝上向陽山）-->向陽山三角點 --> 向陽山登山口-->向陽名樹--> 向陽山屋-->向陽遊樂區入口->池上火車站
            </p>
          </div>
        </div>
        <div class="action w-1/5 flex">
          <label class="font-sans font-black block">參加人數</label>
          <span class="font-sans font-bold text-3xl mt-2 block">4/4</span>
          <button class="disabled font-sans text-sm px-5 py-2 font-bold h-10 text-center block" disabled>已額滿</button>
          <button class="followBtn font-sans text-sm px-5 py-2 font-bold h-10 text-center block">加入追蹤</button>
        </div>
      </div>

      <div class="activities w-full h-64 px-6 py-4 my-4 flex rounded-card hover:shadow-card cursor-pointer">
        <div class="image w-1/5 h-full rounded-lg" style="background-image: url('/assets/images/hiking.jpg'); background-size: cover;
                  background-size: cover; background-position: center">
        </div>
        <div class="context w-3/5 ml-4">
          <label class="font-sans text-orange-600 font-black">登山</label>
          <h2 class="font-sans font-bold text-3xl mt-2">合歡西北風兩天一夜 滿一車出發</h2>
          <div class="font-sans inline-flex font-black text-lg">
            <span class="tillTime">2日遊</span>
            &nbsp;•&nbsp;
            <span class="startTime">2020/07/17 06:30</span>
            &nbsp;由&nbsp;
            <span class="departure">台中市</span>
            &nbsp;出發至&nbsp;
            <span class="distination">合歡山主峰步道</span>
            &nbsp;•&nbsp;
            <span class="quota">5人成團</span>
          </div>
          <div class="description block mt-4">
            <label class="description-title text-lg font-extrabold">活動內容：</label>
            <p class="description-content text-gray-700 text-base">
              我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，
            </p>
          </div>
        </div>
        <div class="action w-1/5 flex">
          <label class="font-sans font-black block">參加人數</label>
          <span class="font-sans font-bold text-3xl mt-2 block">3/5</span>
          <button class="joinBtn font-sans text-sm px-5 py-2 font-bold h-10 text-center block">我要參加</button>
          <button class="followBtn font-sans text-sm px-5 py-2 font-bold h-10 text-center block">加入追蹤</button>
        </div>
      </div>

      <div class="activities w-full h-64 px-6 py-4 my-4 flex rounded-card hover:shadow-card  cursor-pointer">
        <div class="image w-1/5 h-full rounded-lg" style="background-image: url('/assets/images/surfing.jpg'); background-size: cover;
                        background-size: cover; background-position: center">
        </div>
        <div class="context w-3/5 ml-4">
          <label class="font-sans text-orange-600 font-black">衝浪</label>
          <h2 class="font-sans font-bold text-3xl mt-2">[徵司機] 烏石港衝浪初體驗</h2>
          <div class="font-sans inline-flex font-black text-lg">
            <span class="tillTime">單日遊</span>
            &nbsp;•&nbsp;
            <span class="startTime">2020/07/19 08:00</span>
            &nbsp;由&nbsp;
            <span class="departure">台北市</span>
            &nbsp;出發至&nbsp;
            <span class="distination">烏石港</span>
            &nbsp;•&nbsp;
            <span class="quota">4人成團</span>
          </div>
          <div class="description block mt-4">
            <label class="description-title text-lg font-extrabold">活動內容：</label>
            <p class="description-content text-gray-700 text-base">
              我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，
            </p>
          </div>
        </div>
        <div class="action w-1/5 flex">
          <label class="font-sans font-black block">參加人數</label>
          <span class="font-sans font-bold text-3xl mt-2 block">4/4</span>
          <button class="disabled font-sans text-sm px-5 py-2 font-bold h-10 text-center block" disabled>已額滿</button>
          <button class="followBtn font-sans text-sm px-5 py-2 font-bold h-10 text-center block">加入追蹤</button>
        </div>
      </div>

      <div class="activities w-full h-64 px-6 py-4 my-4 flex rounded-card hover:shadow-card  cursor-pointer">
        <div class="image w-1/5 h-full rounded-lg" style="background-image: url('/assets/images/tennis.jpg'); background-size: cover;
                              background-size: cover; background-position: center">
        </div>
        <div class="context w-3/5 ml-4">
          <label class="font-sans text-orange-600 font-black">網球</label>
          <h2 class="font-sans font-bold text-3xl mt-2">台大網球聚</h2>
          <div class="font-sans inline-flex font-black text-lg">
            <span class="tillTime">單日遊</span>
            &nbsp;•&nbsp;
            <span class="startTime">2020/07/13 13:00</span>
            &nbsp;由&nbsp;
            <span class="departure">台北市</span>
            &nbsp;集合&nbsp;
            <span class="quota">6人成團</span>
          </div>
          <div class="description block mt-4">
            <label class="description-title text-lg font-extrabold">活動內容：</label>
            <p class="description-content text-gray-700 text-base">
              我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，我們會在登山口集合，
            </p>
          </div>
        </div>
        <div class="action w-1/5 flex">
          <label class="font-sans font-black block">參加人數</label>
          <span class="font-sans font-bold text-3xl mt-2 block">2/6</span>
          <button class="joinBtn font-sans text-sm px-5 py-2 font-bold h-10 text-center block">我要參加</button>
          <button class="followBtn font-sans text-sm px-5 py-2 font-bold h-10 text-center block">加入追蹤</button>
        </div>
      </div>

    </div>
  </div>

</div>
