<h1>請選擇分類:</h1>
<div>
  <div style="display: inline-flex;">
    <ng-container *ngFor="let item of data">
      <div style="width: 200px; display: inline-block; ">
        <mat-checkbox [(ngModel)]="item.selected">
          {{ item.name }}
        </mat-checkbox>
      </div>
    </ng-container>
  </div>
  <br />
  <button mat-raised-button class="btn btn-primary" (click)="confirm()">確定</button>
</div>
